@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(userOpt: Option[domains.User])

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-logo" href="/">
                <div class="logo">
                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">
                </div>
                <div class="brand"> GitHub Reporter</div>
            </a>
        </div>

        @userOpt.map { user =>
            <p class="navbar-text">&nbsp;</p>
            <p class="navbar-text">Hi <a target="_blank" href="@user.html_url">@user.login</a></p>
            <p class="navbar-text">Followers | <span class="badge">@user.followers</span> </p>
            <p class="navbar-text">Following | <span class="badge">@user.following</span> </p>
            <p class="navbar-text">Repositories | <span class="badge">@user.public_repos</span> </p>
        }

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form id="search" action="/report" method="get">
                        <div id="label"><label for="search-terms" id="search-label">search</label></div>
                        <div id="input"><input type="text" name="login" id="search-terms" placeholder="Enter your GitHub id..."></div>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>